.cabecera{
    width: 100%;
    height: 10vh;
    background-color: var(--color-tres);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ocultar{
    display: none;
}

.cabecera__imagen{
    width: 40px;
    padding-left: 50px;
}

.cabecera__container__lista{
    display: flex;
    font-size: 0.7rem;
}

.cabecera__container__lista li:nth-child(7){
    color: white;
}

.cabecera--modificado{
    padding-right: 50px;
    font-size: 2.5rem;
    color: black;
}

