.skills{
    background-color: var(--color-primario);
    width: 95%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

.skills__titulo{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    padding: 2.5rem 0;
}

.skills__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 10px;
}

.skills__lista li{
    width: 15.6rem;
    height: 11.8rem;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__lista li span{
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 1.5rem;
}

.skills__imagen{
    width: 45px;
}